[Desktop Entry]
Type=XSession
Exec=@CMAKE_INSTALL_FULL_BINDIR@/start_liquidshell
TryExec=@CMAKE_INSTALL_FULL_BINDIR@/start_liquidshell
DesktopNames=KDE
Name=Liquidshell
Name[ca]=Liquidshell
Name[ca@valencia]=Liquidshell
Name[cs]=Liquidshell
Name[de]=Liquidshell
Name[el]=Liquidshell
Name[en_GB]=Liquidshell
Name[es]=Liquidshell
Name[et]=Liquidshell
Name[eu]=Liquidshell
Name[fi]=Liquidshell
Name[fr]=Liquidshell
Name[gl]=Liquidshell
Name[it]=Liquidshell
Name[ko]=Liquidshell
Name[lt]=Liquidshell
Name[nl]=Liquidshell
Name[pl]=Liquidshell
Name[pt]=Liquidshell
Name[pt_BR]=Liquidshell
Name[sv]=Liquid skal
Name[tg]=Восити рақиқи
Name[uk]=Liquidshell
Name[x-test]=xxLiquidshellxx
Name[zh_TW]=Liquidshell
