[Desktop Entry]
Type=XSession
Exec=/usr/bin/start_liquidshell
TryExec=/usr/bin/start_liquidshell
DesktopNames=KDE
Name=Liquidshell
Name[ca]=Liquidshell
Name[ca@valencia]=Liquidshell
Name[de]=Liquidshell
Name[en_GB]=Liquidshell
Name[es]=Liquidshell
Name[fi]=Liquidshell
Name[fr]=Liquidshell
Name[gl]=Liquidshell
Name[it]=Liquidshell
Name[nl]=Liquidshell
Name[pl]=Liquidshell
Name[pt]=Liquidshell
Name[pt_BR]=Liquidshell
Name[sv]=Liquid skal
Name[uk]=Liquidshell
Name[x-test]=xxLiquidshellxx
Name[zh_TW]=Liquidshell
