[Desktop Entry]
Exec=liquidshell
X-DBUS-StartupType=Unique
Name=Liquid Desktop Workspace
Name[ca]=Espai de treball de l'escriptori Liquid
Name[ca@valencia]=Espai de treball de l'escriptori Liquid
Name[cs]=Pracovní plocha Liquid
Name[de]=Liquid-Arbeitsflächenbereich
Name[en_GB]=Liquid Desktop Workspace
Name[es]=Espacio de trabajo de escritorio Liquid
Name[fi]=Liquid Desktop -työtila
Name[gl]=Espazo de traballo de escritorio Liquid
Name[it]=Spazio di lavoro Liquid Desktop
Name[nl]=Liquid bureaubladwerkruimte
Name[pl]=Płynna przestrzeń pracy pulpitu
Name[pt]=Área de Trabalho Liquid
Name[pt_BR]=Espaço de trabalho Liquid
Name[ru]=Рабочая среда Liquid
Name[sk]=Pracovná plocha Liquid
Name[sv]=Liquid arbetsområde för skrivbordet
Name[uk]=Робочий простір Ліквід для комп'ютерів
Name[x-test]=xxLiquid Desktop Workspacexx
Type=Application
X-KDE-StartupNotify=false
OnlyShowIn=KDE;
X-KDE-autostart-phase=0
NoDisplay=true
