[Desktop Entry]
Exec=liquidshell
X-DBUS-StartupType=Unique
Name=Liquid Desktop Workspace
Name[ca]=Espai de treball de l'escriptori Liquid
Name[ca@valencia]=Espai de treball de l'escriptori Liquid
Name[cs]=Pracovní plocha Liquid
Name[de]=Liquid-Arbeitsflächenbereich
Name[el]=Χώρος εργασίας επιφάνειας εργασίας Liquid
Name[en_GB]=Liquid Desktop Workspace
Name[es]=Espacio de trabajo de escritorio Liquid
Name[et]=Liquidi töölaua tööruum
Name[eu]=Liquid mahaigaineko langunea
Name[fi]=Liquid Desktop -työtila
Name[fr]=Espace de travail du bureau Liquid
Name[gl]=Espazo de traballo de escritorio Liquid
Name[it]=Spazio di lavoro Liquid Desktop
Name[ko]=Liquid 데스크톱 작업 공간
Name[lt]=Liquid darbalaukio darbo sritis
Name[nl]=Liquid bureaubladwerkruimte
Name[pl]=Płynna przestrzeń pracy pulpitu
Name[pt]=Área de Trabalho Liquid
Name[pt_BR]=Espaço de trabalho Liquid
Name[ru]=Рабочая среда Liquid
Name[sk]=Pracovná plocha Liquid
Name[sv]=Liquid arbetsområde för skrivbordet
Name[tg]=Фазои мизи кории рақиқ
Name[uk]=Робочий простір Ліквід для комп'ютерів
Name[x-test]=xxLiquid Desktop Workspacexx
Name[zh_TW]=Liquid 桌面工作空間
Type=Application
X-KDE-StartupNotify=false
OnlyShowIn=KDE;
X-KDE-autostart-phase=0
NoDisplay=true
Hidden=false
