/*
ClockWidget QLabel
{
  margin-top: -5px;
  margin-bottom: -5px;
}

ClockWidget QLabel#time
{
  font-size: 26px;
  font-weight: bold;
}
*/

StartMenu
{
  padding: -2px;
  /* qproperty-themeIcon: "start-here-kde" */
}

StartMenu::menu-indicator
{
  image: url()
}

AppMenu QPushButton
{
  padding: -2px;
}
