/* some examples ...

ClockWidget QLabel#time
{
  font-size: 26px;
  font-weight: bold;
}

ClockWidget
{
  qproperty-dayFormat: "dddd";
  qproperty-dateFormat: "dd.MM.yyyy";
}
*/

StartMenu
{
  padding: -2px;
  /* qproperty-themeIcon: "start-here-kde" */
}

StartMenu::menu-indicator
{
  image: url()
}
